.Nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.Nav nav {
    width: 96.5vw;
    display: flex;
    justify-content: space-around;
}

.link-nav {
    border-radius: 10%;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 2px 2px rgb(1, 56, 111);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.link-nav:hover {
    color: black;
    font-weight: bold;
}

.Nav.hide {
    transform: translateY(-100%);
    transition: all 1s;
}

.Nav.show {
    transform: translateY(0);
    transition: all 1s;
}