.Nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.Nav nav {
    display: flex;
    justify-content: space-around;
}

.link-nav {
    width: 4vw;
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
}

.link-nav:hover {
    color: black;
    font-weight: bold;
}

.Nav.hide {
    transform: translateY(-100%);
    transition: all 1s;
}

.Nav.show {
    transform: translateY(0);
    transition: all 1s;
}